<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/authentication/login']" class="d-flex justify-content-center m-2">
              <app-brand-logo [size]="48"></app-brand-logo>
            </a>
          </div>

          <p class="text-muted text-center m-t-16">Elige tu nueva contraseña.</p>

          <form class="m-t-24" [formGroup]="form">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Nueva contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="newPassword" />
              <mat-hint>Mínimo 6 caracteres</mat-hint>
            </mat-form-field>

            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Confirmar contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="confirmPassword" />
              <mat-error *ngIf="f.confirmPassword.hasError('mismatch')">Las contraseñas no coinciden</mat-error>
            </mat-form-field>

            <a
              (click)="reset()"
              mat-flat-button
              color="primary"
              class="w-100"
              [class.disabled]="form.invalid || isSubmitting"
            >
              Restablecer contraseña
            </a>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
